@import "tailwindcss";

:root {
  --background: #F7F7F7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mulish: var(--font-mulish);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mulish), sans-serif;
}
